// SIMPLE GRID - SASS/SCSS

// grid

$width: 100%;
$gutter: 4%;

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  @media only screen and (min-width: $phone) {
    width: 80%;
  }

  @media only screen and (min-width: $desktop) {
    width: 75%;
    max-width: 1170px;
    // padding: 0 40px;
  }
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0 2%;
  min-height: 0.125rem;
  @include media("<tablet")
  {
    margin: 0;
  }
  @include media(">tablet")
  {
    &:first-child
    {
      margin: auto 0;
    }
    &:last-child
    {
      margin: auto 0;
    }
  }
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: $width;
}

@media only screen and (min-width: $tablet) {

  .col-4 { width: ($width / 3) - ( $gutter / 3 ); }
  .col-8 { width: ($width / (12 / 8)) - ( 4 / 12); }

  .hidden-sm {
    display: block;
  }
}
