// Helper Mixins
// =================================================================================
// Mixin to convert images to grayscale
//  -------------------------
@mixin grayscale {
    //scss-lint:disable VendorPrefix
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); // Firefox 10+
    filter: $gray; // IE6-9
    -webkit-filter: grayscale(100%); // Chrome 19+ & Safari 6+
    -webkit-transition: all 0.6s ease; // Fade to color for Chrome and Safari
    -webkit-backface-visibility: hidden; // Fix for transition flickering
}
// Mixin for rgba support (IE8 or less)
// $useIEFilters: defined in _base.scss;
//  -------------------------
@mixin rgba-bg ($hex, $alpha, $ie: $useIEFilters) {
    //scss-lint:disable VendorPrefix
    @if $ie == 1 {
        background-color: none;
        $hexopac: ie-hex-str(rgba($hex, $alpha));
        $filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$hexopac}',EndColorStr='#{$hexopac}');
        filter: $filter;
        -ms-filter: quote($filter);
    }
    @else {
        background-color: $hex;
    }
    background-color: rgba($hex, $alpha);
}
@mixin opacity ($opacity) {
    //scss-lint:disable VendorPrefix
    opacity: $opacity;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$opacity*100})";
}
