<div class="services">
    <h5 class="title-micro">We Do</h5>
    <div class="row services-list">
        {% for service in page.header.services %}
            <div class="col-4 service-item--wrap">
                <button target="_self" href="{{ service.url }}" data-type="page-transition" class="service-item">
                    <div class="small-number pull-number pull-number__up service-number">
                    <sub>{{ service.number }}</sub>
                    </div>
                    <h3 class="service-name">{{ service.name }}</h3>
                </button>
                <div class="service-card">
                    <p>{{ service.description }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
