<div class="welcome">
    <h5 class="title-micro">{{ page.header.title }}</h5>
    <div class="greeting-text">
        <div class="service-number">
            <sub>00</sub>
        </div>
        {{ content }}
    </div>
</div>
