html,
body
{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    font-size: 100%;
}

body {
    background-position: center top;
    background-size: cover;
    background-color: #f2fafc;
    background-image: url('../images/background.jpg');
}

* {
  font-family: $family-default;
  color: $color-gray-dark;
}
