.left {
  text-align: left; }

.right {
  text-align: right; }

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 669px) {
    .center--mobile {
      text-align: center; } }

.justify {
  text-align: justify; }

.hidden-sm {
  display: none; }

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (min-width: 320px) {
    .container {
      width: 80%; } }
  @media only screen and (min-width: 1170px) {
    .container {
      width: 75%;
      max-width: 1170px; } }

.row {
  position: relative;
  width: 100%; }

.row [class^="col"] {
  float: left;
  margin: 0 2%;
  min-height: 0.125rem; }
  @media (max-width: 767px) {
    .row [class^="col"] {
      margin: 0; } }
  @media (min-width: 769px) {
    .row [class^="col"]:first-child {
      margin: auto 0; }
    .row [class^="col"]:last-child {
      margin: auto 0; } }

.row::after {
  content: "";
  display: table;
  clear: both; }

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 100%; }

@media only screen and (min-width: 769px) {
  .col-4 {
    width: 32%; }
  .col-8 {
    width: 66.33333%; }
  .hidden-sm {
    display: block; } }

html {
  font-family: "Source Sans Pro", sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

body {
  margin: 0; }

article,
aside,
footer,
header,
nav,
section {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

figcaption,
figure,
main {
  /* 1 */
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

a:active,
a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

b,
strong {
  font-weight: inherit; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

audio,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

button,
input {
  /* 1 */
  overflow: visible; }

button,
select {
  /* 1 */
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

details,
menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
figure,
table, th, td, caption,
hr {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6,
ul, ol, dl,
blockquote, p, address,
hr,
table,
fieldset, figure,
pre {
  margin-bottom: 26px; }

ul, ol,
dd {
  margin-left: 26px; }

::-ms-clear,
::-ms-reveal {
  display: none; }

::-webkit-search-cancel-button,
::-webkit-inner-spin-button,
::-webkit-outer-spin-button,
::-webkit-search-cancel-button,
::-webkit-search-results-button {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  resize: none; }

[type=search] {
  -webkit-appearance: none; }

[type=button]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0; }

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a, a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  .ir a:after, a[href^='javascript:']:after, a[href^='#']:after {
    content: ''; }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr, img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2, h3 {
    page-break-after: avoid; } }

h1 {
  font-size: 36px;
  line-height: 1.3em; }

h2 {
  font-size: 24px;
  line-height: 1.3em; }

h3 {
  font-size: 18px;
  line-height: 1.5em; }

h4 {
  font-size: 16px;
  line-height: 1.5em; }

h5 {
  font-size: 14px;
  line-height: 1.5em; }

h6 {
  font-size: 14px;
  line-height: 1.5em; }

p {
  font-size: 18px;
  font-size: 1rem;
  line-height: 1.44444; }

em {
  font-style: italic; }

b,
strong {
  font-weight: bold; }

small {
  font-size: 85%; }

cite {
  font-style: normal; }

dfn {
  font-style: italic;
  font-weight: bold; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em;
  vertical-align: sub; }

sub {
  bottom: -0.25em;
  vertical-align: super; }

abbr,
acronym {
  font-size: 90%;
  text-transform: uppercase;
  border-bottom: 1px dotted #ddd;
  cursor: help; }

del {
  color: #aaa;
  text-decoration: line-through;
  vertical-align: baseline; }

pre {
  background: #eee;
  border-bottom: 1px solid #999;
  border-top: 1px solid #999;
  margin: 1.5em 0;
  padding: rhythm(0.5) rhythm(0.3); }

code {
  background: #eee;
  font-size: 11px;
  line-height: 1.2em;
  padding: rhythm(0.2); }

pre,
code,
kbd,
samp,
tt {
  font-family: Consolas, Inconsolata, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace; }

ins {
  text-decoration: underline; }

mark {
  background: #999;
  font-size: 11px; }

address {
  display: block;
  margin: 0 0 1.5em;
  font-style: italic; }

ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 rhythm(1.5); }

ul {
  list-style: disc; }

ol {
  list-style-type: decimal; }

ol > ol {
  list-style: upper-alpha; }

ol > ol > ol {
  list-style: lower-roman; }

li ul,
li ol {
  margin: 0; }

dl {
  margin: 0 1.625em; }

dt {
  font-weight: bold; }

dd {
  margin-bottom: 1.625em; }

h1 {
  font-size: 32px;
  font-size: 1.77778rem;
  line-height: 1.625; }

h2 {
  font-size: 28px;
  font-size: 1.55556rem;
  line-height: 1.85714; }

h3 {
  font-size: 24px;
  font-size: 1.33333rem;
  line-height: 1.08333; }

h4 {
  font-size: 20px;
  font-size: 1.11111rem;
  line-height: 1.3; }

h5 {
  font-size: 18px;
  font-size: 1rem;
  line-height: 1.44444; }

h6 {
  font-size: 16px;
  font-size: 0.88889rem;
  line-height: 1.625; }

img {
  max-width: 100%;
  vertical-align: middle; }

a {
  text-decoration: none;
  color: #002CFB; }
  a:hover, a:focus {
    color: #001faf; }

ul {
  list-style: square outside; }

li > ul,
li > ol {
  margin-left: 52px;
  margin-bottom: 0; }

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%; }

body {
  background-position: center top;
  background-size: cover;
  background-color: #f2fafc;
  background-image: url("../images/background.jpg"); }

* {
  font-family: "Helvetica", "Calibri Light", Roboto, sans-serif;
  color: #1F2024; }

.o-media {
  display: table;
  width: 100%; }

.o-media__img,
.o-media__body {
  display: table-cell;
  vertical-align: top; }

.o-media__img {
  padding-right: 26px; }
  .o-media__img img {
    display: block;
    max-width: none; }

.o-media__body {
  width: 100%; }

.navbar {
  padding-top: 60px;
  display: inline-block;
  width: 100%;
  position: relative; }

.logo {
  float: left; }
  @media (max-width: 669px) {
    .logo {
      width: 100%; }
      .logo svg {
        width: 100%; } }

.greetings {
  position: absolute;
  right: 0;
  bottom: 0; }

.greeting-text p {
  font-size: 18px;
  line-height: 22px; }
  @media (min-width: 769px) {
    .greeting-text p {
      font-size: 28px;
      line-height: 32px; } }

.title-micro {
  font-size: 18px;
  font-size: 1rem;
  line-height: 1.44444;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 12px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.services {
  padding-top: 8px; }
  @media (min-width: 769px) {
    .services {
      padding-top: 48px; } }
  @media (min-height: 900px) {
    .services {
      padding-top: 148px; } }
  @media only screen and (min-width: 769px) and (max-width: 1170px) {
    .services .col-4 {
      width: 32%; }
      .services .col-4:nth-child(-n+2) {
        width: 49%;
        margin-right: 0; }
      .services .col-4:last-child {
        width: 100%; } }

.services-list {
  position: relative; }
  .services-list button {
    background-color: transparent;
    text-align: left; }
    .services-list button:hover .service-number sub {
      color: #002CFB; }
    .services-list button:hover h3 {
      color: #002CFB; }

.service-item--wrap {
  position: relative; }
  .service-item--wrap:hover .service-name, .service-item--wrap:active .service-name {
    opacity: 0; }
  .service-item--wrap:hover .service-card, .service-item--wrap:active .service-card {
    transform: translate(-12px, -12px);
    opacity: 1; }

.service-item {
  padding: 54px 24px;
  border: 2px solid #1F2024;
  width: 100%;
  height: 172px; }
  @media (max-width: 1169px) {
    .service-item {
      margin-bottom: 4%; } }
  @media (min-width: 769px) {
    .service-item {
      height: 172px; } }

.pull-number {
  position: absolute;
  color: #000;
  display: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  @media (min-width: 671px) {
    .pull-number {
      display: block; } }
  .pull-number__up {
    margin-top: -20px; }
  .pull-number__left {
    margin-left: -40px; }

.service-name {
  font-size: calc(6vw + 2vmin);
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 0;
  color: #000;
  transition: opacity 300ms ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  @media (min-width: 321px) {
    .service-name {
      font-size: calc(4vw + 2vmin); } }
  @media (min-width: 769px) {
    .service-name {
      font-size: calc(1vw + 1vh + 0.5vmin); } }

.service-card {
  position: absolute;
  top: 0;
  opacity: 0;
  padding: 28px 22px;
  background-color: #000;
  border: 2px solid #1F2024;
  transition: transform 300ms ease-in-out, opacity 200ms ease-in-out;
  width: 100%;
  height: 172px; }
  .service-card p {
    font-size: calc(3vw + 1vmin);
    line-height: 1.4;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    color: #f2fafb; }
    @media (min-width: 671px) {
      .service-card p {
        font-size: calc(2vw + 1vmin);
        line-height: 1.4; } }
    @media (min-width: 769px) {
      .service-card p {
        font-size: calc(0.7vw + 0.7vh + 0.7vmin);
        line-height: 1.4; } }
    @media (min-width: 1171px) {
      .service-card p {
        font-size: calc(0.5vw + 0.6vh + 0.6vmin);
        line-height: 1.4; } }

footer {
  padding-top: 74px; }
  @media (max-height: 767px) {
    footer {
      padding-bottom: 60px; } }

@media (min-height: 769px) and (min-width: 1025px) {
  footer {
    position: absolute;
    bottom: 60px;
    width: 100%; } }
  footer a {
    font-size: 18px;
    text-transform: uppercase;
    color: #1F2024;
    font-weight: bold; }

@media (max-width: 767px) {
  .social {
    padding-top: 28px;
    padding-bottom: 28px; } }

.social a {
  padding-left: 23px;
  padding-right: 23px;
  display: inline-block; }
  @media (min-width: 1171px) {
    .social a {
      padding-left: 27px;
      padding-right: 27px; } }
  @media (min-width: 671px) {
    .social a {
      margin-right: -10px; } }
  @media (max-width: 669px) {
    .social a {
      padding-bottom: 18px; } }
  @media (min-width: 671px) {
    .social a:first-child {
      padding-left: 0; } }
  @media (min-width: 671px) {
    .social a:last-child {
      padding-right: 0; } }

.infinity {
  fill: none;
  stroke: #1F2024;
  stroke-width: 2px;
  stroke-dashoffset: -10px;
  stroke-dasharray: 0px, 10px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden; }

.btn {
  font-size: 22px;
  line-height: 19px;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid;
  display: inline-block;
  position: relative;
  z-index: 1;
  transition: padding-left 0.5s ease-in-out; }
  .btn span {
    position: relative;
    z-index: 1;
    transition: color 0.5s ease-in-out; }
  @media (min-width: 769px) {
    .btn {
      text-align: right;
      position: absolute;
      right: 0; } }
  .btn::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    opacity: 0;
    left: 0;
    top: 0;
    transition: opacity 0.2s ease-in; }
  .btn:hover::before {
    opacity: 1; }

@media (min-width: 671px) {
  .btn--line::after {
    content: '';
    width: 102px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 0; } }

.btn--line__left::after {
  transform: translateX(-74px);
  transform-origin: right;
  transition: transform 0.5s ease-in-out; }

.btn--line__left::before {
  background-color: black; }

.btn--line__left:hover::after {
  transform: translateX(44px); }

.btn--blue {
  border-color: #002CFB; }
  .btn--blue span {
    color: #002CFB; }
  .btn--blue.btn--line::after {
    background-color: #002CFB; }
  .btn--blue::before {
    background-color: #002CFB; }
  .btn--blue:hover span {
    color: white; }

@media (max-width: 669px) {
  .btn--tall {
    padding: 16px 20px 16px 20px;
    width: 100%;
    text-align: center;
    margin-top: 24px; } }

@media (min-width: 671px) {
  .btn--tall {
    padding: 16px 20px 16px 50px;
    width: auto; } }

#body {
  margin-top: 38px; }
  @media (min-width: 769px) {
    #body {
      margin-top: 68px; } }

.float__right {
  float: right; }

.float__left {
  float: left; }

/*# sourceMappingURL=styles.css.map */
