// Color palette
$color-brand:           #002CFB;
$color-brand-highlight: lighten($color-brand, 15%);
$color-brand-shadow:     darken($color-brand, 15%);
$color-gray:            #666;
$color-gray-light:      #ccc;
$color-gray-dark:       #1F2024;
$color-highlight:       rgba(255, 255, 255, 0.05);
$color-shadow:          rgba(0, 0, 0, 0.05);
$color-red: #FA0F45;
$color-aqua-haze: #EFF5F5;
// UI
$color-ui:          $color-gray-light;
// Text
$color-text:        $color-gray-dark;
// Links
$color-link:        $color-brand;
$color-link-hover:  $color-brand-shadow;
// Buttons
$color-btn:         $color-brand;
$color-btn-hover:   $color-brand-shadow;
// ---------------------
// Grid & baseline setup
// ------------------
$base-font-size                 : 15px !default;
$base-line-height               : 23px !default;
$grid-background-total-columns  : 24 !default;
$grid-background-column-width   : 20px !default;
$grid-background-gutter-width   : 20px !default;
// Global Palettes
// ------------------
$black              : #000 !default;
$blackLight         : #222 !default;
$blackLighter       : #555 !default;
$grayDarker         : #999 !default;
$grayDark           : #aaa !default;
$gray               : #ccc !default;
$grayLight          : #ddd !default;
$grayLighter        : #eee !default;
$white              : #fff !default;
$whiteDark          : #f5f5f5 !default;
$whiteDarker        : #f0f0f0 !default;
// Layout Palettes
// -------------------------
$backgroundColor    : $white !default;
$borderColor        : $grayLighter !default;
$fontColor          : $blackLighter !default;
$altColor           : $gray !default;
// Link Palettes
// -------------------------
$linkColor          : $color-brand !default;
$linkHover          : darken($linkColor, 10%) !default;
$linkVisited        : darken($linkHover, 5%) !default;
$linkFocus          : $linkHover !default;
$linkActive         : lighten(adjust-hue($linkColor, 75deg), 10%) !default;
