// ================================================================================
// Font Stack
// http://unitinteractive.com/blog/2008/06/26/better-css-font-stacks/
// https://github.com/lloydk/font-stack
// ================================================================================
// Custom Font Stack
// -------------------------
// @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,500,700');
$sourcesanspro      : 'Source Sans Pro', sans-serif;
$family-default        : "Helvetica", "Calibri Light", Roboto, sans-serif;
// Serif font-stacks
// -------------------------
$georgia            : Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif !default;
$georgia-heading    : Georgia, Times, "Times New Roman", serif !default;
$garamond           : Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif !default;
$lucida-bright      : "Lucida Bright", Georgia, serif !default;
$palatino           : Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif !default;
$big-caslon         : "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif !default;
$didot              : Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif !default;
$baskerville        : Baskerville, "Baskerville old face", "Hoefler Text", Garamond, "Times New Roman", serif !default;
$hoefler-text       : "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif !default;
$bodoni-mt          : "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif !default;
$goudy-old-style    : "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif !default;
$constantia         : Constantia, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif !default;
$cambria            : Cambria, Georgia, serif !default;
$book-antiqua       : "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif !default;
$times              : Times, "Times New Roman", Georgia, serif !default;
// Sans-Serif font-stacks
// -------------------------
$arial              : Arial, "Helvetica Neue", Helvetica, sans-serif !default;
$optima             : Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif !default;
$futura             : Futura, "Trebuchet MS", Arial, sans-serif !default;
$gill-sans          : "Gill Sans", "Gill Sans MT", Calibri, sans-serif !default;
$trebuchet          : "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif !default;
$helvetica          : "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$verdana            : Verdana, Geneva, sans-serif !default;
$lucida-grande      : "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif !default;
$geneva             : Geneva, Tahoma, Verdana, sans-serif !default;
$segoe              : Segoe, "Segoe UI", "Helvetica Neue", Arial, sans-serif !default;
$candara            : Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif !default;
$calibri            : Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif !default;
$franklin-gothic    : "Franklin Gothic Medium", Arial, sans-serif !default;
$tahoma             : Tahoma, Geneva, Verdana, sans-serif !default;
// Monospace font-stacks
// -------------------------
$monospace          : "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace !default;
$monospace-simple   : "Andale Mono", "lucida Console", monospace !default;
$consolas           : Consolas, Inconsolata, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace !default;
// Cursive font-stacks
// -------------------------
$cursive            : "Bradley Hand ITC", "Apple Chancery", "URW Chancery L", cursive !default;
