{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getLanguage ?: 'en' }}">

<head>
{% block head %}

    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
    {% include 'partials/metadata.html.twig' %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        {% do assets.addCss('theme://css/styles.css', 100) %}
    {% endblock %}
    {{ assets.css() }}

{% endblock head %}
</head>

<body class="{{ page.header.body_classes }}">
    <div id="main">

        <!-- Embedding the Header -->
        {% embed "partials/header.html.twig" %}{% endembed %}

        {% block body %}
        <section id="body" class="cd-index cd-main-content {{ class }}">
            <div class="container">

                {% block content %}{% endblock %}

            </div>
        </section>
        {% endblock %}

        {% block footer %}
        <footer id="footer">
            <div class="container">
                <!-- Link to Our Story page -->
                <div class="row">
                    <div class="col-4 our-story left center--mobile">
                        <a href="#">
                            <svg id="infinity_symbol" width="23.85" height="12.07" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 23.85 12.07">
                              <path id="infinity" class="infinity" d="M12.34,13.09A11.21,11.21,0,0,1,8.5,17.15a4.22,4.22,0,0,1-5.15-.76A4.83,4.83,0,0,1,2.29,12,4.16,4.16,0,0,1,6.7,8.87c2.44.21,4.37,2.31,5.64,4.22,1.61,2.42,4.34,5.45,7.58,5,2.6-.36,4.32-3.18,4-5.68a4.79,4.79,0,0,0-5.45-4.31C15.73,8.43,13.78,10.9,12.34,13.09Z" transform="translate(-1.14 -7.08)"/>
                            </svg>
                            Our Story (is coming)
                        </a>
                    </div>

                    <!-- Social Links -->
                    <div class="col-8 social right center--mobile">
                        <a href="#">Dribbble</a>
                        <a href="#">Instagram</a>
                        <a href="#">Twitter</a>
                        <a href="#">Facebook</a>
                    </div>
                </div>
            </div>
        </footer>
        {% endblock %}
    </div>

    <div class="cd-cover-layer"></div>
    <div class="cd-loading-bar"></div>

    {% block javascripts %}
        {% do assets.addJs('jquery', 101) %}
        {% do assets.addJs('theme://js/unum.js') %}
        {% do assets.addJs('theme://js/kute.min.js') %}
        {% do assets.addJs('theme://js/kute-svg.min.js') %}
    {% endblock %}
    {{ assets.js() }}
    {% block bottom %}
        {{ assets.js('bottom') }}
    {% endblock %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-90375856-1', 'auto');
      ga('send', 'pageview');

    </script>

</body>
</html>
