.title-micro
{
    @include font-size(18px);
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 12px;
    user-select: none;
}

.services
{
    padding-top: 8px;
    @include media('>tablet')
    {
        padding-top: 48px;
    }
    // @include media('height>tablet')
    // {
    //     padding-top: 88px;
    // }
    @include media('height>899px')
    {
        padding-top: 148px;
    }
    @media only screen and (min-width: $tablet) and (max-width: $desktop) {
      .col-4
      {
        width: ($width / 3) - ( $gutter / 3 );
        &:nth-child(-n+2)
        {
          width: 49%;
          margin-right: 0;
        }
        &:last-child
        {
          width: 100%;
        }
      }
    }
}

.services-list
{
    position: relative;
    button
    {
        background-color: transparent;
        text-align: left;
        &:hover
        {
            .service-number sub
            {
                color: $color-brand;
            }

            h3
            {
                color: $color-brand;
            }
        }
    }
}

.service-item--wrap
{
    position: relative;

    &:hover, &:active
    {
        .service-name
        {
            opacity: 0;
        }
        .service-card
        {
            transform: translate(-12px, -12px);
            opacity: 1;
        }
    }
}

.service-item
{
    padding: 54px 24px;
    border: 2px solid $color-gray-dark;
    width: 100%;
    height: 172px;
    @include media('<desktop')
    {
        margin-bottom: 4%;
    }
    @include media('>tablet')
    {
        height: 172px;
    }
}


.pull-number
{
    position: absolute;
    color: $black;
    display: none;
    user-select: none;
    @include media('>phone_landscape')
    {
        display: block;
    }
    &__up
    {
        margin-top: -20px;
    }
    &__left
    {
        margin-left: -40px;
    }
}

.service-name
{
    font-size: calc(6vw + 2vmin);
    line-height: 1;
    @include media('>phone')
    {
        font-size: calc(4vw + 2vmin);
    }
    @include media('>tablet')
    {
        font-size: calc(1vw + 1vh + 0.5vmin)
    }
    text-transform: uppercase;
    margin-bottom: 0;
    color: $black;
    transition: opacity 300ms ease-in-out;
    user-select: none;
}

.service-card
{
    position: absolute;
    top: 0;
    opacity: 0;
    padding: 28px 22px;
    background-color: $black;
    border: 2px solid $color-gray-dark;
    transition: transform 300ms ease-in-out, opacity 200ms ease-in-out;
    width: 100%;
    height: 172px;
    p
    {
        font-size: calc(3vw + 1vmin);
        line-height: 1.4;
        user-select: none;
        color: #f2fafb;
        @include media('>phone_landscape')
        {
            font-size: calc(2vw + 1vmin);
            line-height: 1.4;
        }
        @include media('>tablet')
        {
            font-size: calc(0.7vw + 0.7vh + 0.7vmin);
            line-height: 1.4;
        }
        @include media('>desktop')
        {
            font-size: calc(0.5vw + 0.6vh + 0.6vmin);
            line-height: 1.4;
        }
    }
}
