.btn
{
    font-size: 22px;
    line-height: 19px;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid;
    display: inline-block;
    // Temporary:
    position: relative;
    z-index: 1;
    transition: padding-left 0.5s ease-in-out;
    span
    {
        position: relative;
        z-index: 1;
        transition: color 0.5s ease-in-out;
    }
    @include media('>tablet')
    {
        text-align: right;
        position: absolute;
        right: 0;
    }
    &::before
    {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        display: block;
        opacity: 0;
        left: 0;
        top: 0;

        transition: opacity 0.2s ease-in;
    }
    &:hover
    {
        &::before
        {
            opacity: 1;
        }
    }
}

.btn--line
{
    @include media('>phone_landscape')
    {
        &::after
        {
            content: '';
            width: 102px;
            height: 2px;
            position: absolute;
            top: 50%;
            left: 0;
        }
    }
}

.btn--line__left
{
    &::after
    {
        transform: translateX(-74px);
        transform-origin: right;

        transition: transform 0.5s ease-in-out;
    }
    &::before
    {
        background-color: black;
    }
    &:hover
    {
        &::after
        {
            transform: translateX(44px);
        }
    }
}

.btn--blue
{
    span
    {
        color: $color-brand;
    }
    border-color: $color-brand;
    &.btn--line
    {
        &::after
        {
            background-color: $color-brand;
        }
    }
    &::before
    {
        background-color: $color-brand;
    }
    &:hover
    {
        span
        {
            color: white;
        }
    }
}

.btn--tall
{
    @include media('<phone_landscape')
    {
        padding: 16px 20px 16px 20px;
        width: 100%;
        text-align: center;
        margin-top: 24px;
    }
    @include media('>phone_landscape')
    {
        padding: 16px 20px 16px 50px;
        width: auto;
    }
}
