.navbar
{
    padding-top: 60px;
    display: inline-block;
    width: 100%;
    position: relative;
}
.logo
{
    float: left;
    @include media('<phone_landscape')
    {
        width: 100%;
        svg
        {
            width: 100%;
        }
    }
}
.greetings
{
    position: absolute;
    right: 0;
    bottom: 0;

}
