footer
{
    padding-top: 74px;
    @include media('height<tablet')
    {
        padding-bottom: 60px;
    }
    @include media('height>tablet', 'width>tablet_landscape')
    {
        position: absolute;
        bottom: 60px;
        width: 100%;
    }
    a
    {
        font-size: 18px;
        text-transform: uppercase;
        color: $color-text;
        font-weight: bold;
    }
}
.social
{
    @include media('<tablet')
    {
        padding-top: 28px;
        padding-bottom: 28px;
    }
    a
    {
        padding-left: 23px;
        padding-right: 23px;
        display: inline-block;
        @include media('>desktop')
        {
            padding-left: 27px;
            padding-right: 27px;
        }
        @include media('>phone_landscape')
        {
            margin-right: -10px;
        }
        @include media('<phone_landscape')
        {
            padding-bottom: 18px;
        }
        &:first-child
        {
            @include media('>phone_landscape')
            {
                padding-left: 0;
            }
        }
        &:last-child
        {
            @include media('>phone_landscape')
            {
                padding-right: 0;
            }
        }
    }
}
.infinity {
    fill: none;
    stroke: #1F2024;
    stroke-width: 2px;
    stroke-dashoffset: -10px;
    stroke-dasharray: 0px, 10px;
    backface-visibility: hidden;
}
